# ignore all hidden
.*
# except
!.gitattributes
!.gitignore
!.gitmodules
!.github
!.github/**
!.yamlfmt.yaml
!.yamllint.yml
!.mcp.json
!.capy.toml

# Logs
logs
*.log*

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# AI tools
!.serena
!.claude
.claude/worktrees

# formulae for homebrew
# here only for convenience, see serpro69/homebrew-tap repo
homebrew/

# binaries
/capy
.capy/**

!.capy
!.capy/knowledge.db
